table {
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid black*/
    border-collapse: collapse;
}

table td{
    text-align: center;
    vertical-align: middle;
    padding: 3px 8px;
    /*border-left: black 1px solid;*/
    /*border-right: black 1px solid;*/
}

th {
    text-align: center;
    vertical-align: middle;
    padding: 3px 8px;
}

.error {
    color: red;
}